* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scale {
  display: flex;
  flex-direction: row;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}

.button1 {
  background-color: red;
}

.button2 {
  background-color: orange;
}

.button3 {
  background-color: yellow;
}

.button4 {
  background-color: lightgreen;
}

.button5 {
  background-color: green;
}

.selectedButton {
  border: 3px solid #3d84ff;
}